{% extends 'base93.html.twig' %}

{% block body_id 'opera_new' %}

{% block main %}

<form action="{{ path('opera_save', {slug:slug}) }}" method="post">

    <div class="row justify-content-between">

        <div class="col-sm-auto">

            <h4>
                
                {{ 'label.treatments'|trans }} <i class="fas fa-file-medical-alt"></i>
                {{ 'label.new_entry'|trans }} | <i class="fas fa-user-injured"></i>
                {{ patient.firstname }} {{ patient.lastname }} &nbsp;
                {% if patient.sex %}
                    <i class="fas fa-venus text-danger"></i>
                {% else %}
                    <i class="fas fa-mars text-info"></i>
                {% endif %}
                {{ patient.dateOfBirth | age }}

            </h4>
 
        </div>

        <div class="col"></div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-3">

            <label for="js-select-types">{{'label.type'|trans}}</label>
            <select class="form-control" id="js-select-types" data-url="{{ path('treatments_get') }}">
            <option value="">{{ 'label.option'|trans }}</option>               
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
           </select>

        </div>

        <div class="form-group col-md-5">

            <label class="text-danger" for="js-select-tratments">{{'label.treatment'|trans}}</label>
            <select class="form-control" name="treatmentId" id="js-select-treatments">

            </select>

        </div>

        <div class="form-group col-md-4">

            <label for="js-select-medics">Dr. </label>
            <select class="form-control" name ="userId" id="js-select-medics">

            {% for medic in medics %}
                <option value="{{ medic.id }}">{{ medic.firstname }} {{ medic.lastname }}</option>
            {% endfor %}
            </select>            
      
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-md-3">

            <label class="text-danger" for="js-select-places">{{'label.place'|trans}}</label>
            <select class="form-control" name="placeId" id="js-select-places">
            <option value="">{{ 'label.option'|trans }}</option>               
            {% for place in places %}
                <option value="{{ place.id }}">{{ place.name }}</option>
            {% endfor %}
            </select>

        </div>

        <div class="form-group col-md-3">

            <label for="js-datepicker">Planned for date</label>
            <input type="text" value="{{ "now"|date("m/d/Y") }}" name="madeAt" id="js-datepicker" class="form-control js-datepicker">

        </div>

        <div class="form-group col-md-3">
            
            <input type="hidden" value="{{ patient.id }}" name="patientId" id="patientId">

        </div>
       
    </div>
    
    <div class="form-row">

        <div class="form-group col-md-3">
           
        </div>

        <div class="form-group col-md-6"></div>

        <div class="form-group col-md-3">

            <a href="{{ path('patient_show', {slug:app.user.center.slug, id:patient.id}) }}" class="btn btn-block btn-success">
                <i class="fas fa-undo-alt"></i> {{ 'label.cancel'|trans }}
            </a>    
        
        </div>

    </div>





{% endblock %}

{% block sidebar %}

<div class="card border-success mb-3">
    <h5><div class="card-header">  <i class="far fa-clipboard"></i> {{ 'label.treatment.new'|trans }}</div></h5>

    <div class="card-body">

        <div class="row">

            <div class="col-auto">
                <h5><i class="fas fa-user-md"></i> <span class="text-warning" id="js-selected-doctor"></span></h5>
            </div>
        
        </div>

        <div class="row">

            <div class="col-auto">
                <h5><i class="fas fa-file-medical-alt"></i> <span class="text-warning" id="js-selected-treatment"></span></h5>
            </div>

        </div>

        <div class="row">

            <div class="col-auto">
                <h5><i class="fas fa-hospital-alt"></i> <span class="text-warning" id="js-selected-place"></span></h5>
            </div>

        </div>

        <div class="row">

            <div class="form-group col-auto">
                <h5><i class="far fa-calendar-alt"></i></i> <span class="text-warning" id="js-selected-date"></span></h5>
            </div>

        </div>

        <div class="row">

            <div class="form-group col">

                <button type="submit" class="btn btn-block btn-primary collapse" id="collapseNewTrat">
                    <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
                </button>

            </div>
        
        </div>

    </div>

</form>

</div>

  

{% endblock %}



{% block javascripts %}

    {{ parent() }}

    {% if true %}
        <script src="{{ asset('assets/js/selectTreatment2.js') }}"></script>
    {% endif %}

    
  
{% endblock %}

  
