{% extends 'base.html.twig' %}

{% block pag_name %}{{ 'title.super_cpanel'|trans }}{% endblock %}

{% block header %}
    {{ include('default/_header.html.twig') }}
{% endblock %}

{% block body %}
    
    <div class="row">

        <div class="col-sm-3">
            <p>
                <i class="fas fa-file-medical"></i> {{ 'title.centers'|trans }}
                <ul>
                    <li><a href="{{ path('centers_index') }}">{{ 'title.centers_list'|trans }}</a></li>
                </ul>
            </p>    
        </div>

        <div class="col-sm-3">
                <p>
                    <i class="fas fa-users"></i> {{ 'label.users'|trans }}
                    <ul>
                        <li><a href="{{ path('user_search') }}">{{ 'label.find_user'|trans }}</a></li>
                    </ul>
                </p>    
        </div>
    

        <div class="col-sm-3">
                <p>
                    <i class="fas fa-desktop"></i> {{ 'title.access'|trans }}
                    <ul>
                        <li><a href="{{ path('sessions') }}">{{ 'title.sessions'|trans }}</a></li>
                        <li><a href="{{ path('logs') }}">{{ 'title.logs'|trans }}</a></li>
                    </ul>
                </p>    
        </div>
    </div>
    
{% endblock %} 
