<div role="tabpanel" class="tab-pane fade" id="nav-3">


    <br>

    <div class="container">

        <div class="row justify-content-between">

            <div class="col-auto">
                <h4><i class="fas fa-procedures"></i> {{ 'label.treatments'|trans }}</h4>  
            </div>        
        
            

            <div class="col-auto text-right">

                {{ form_start(form, {'attr': {} }) }}

                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-block btn-primary">
                        <i class="fa fa-edit" aria-hidden="true"></i> {{ button_label_new }}
                    </button>

                {{ form_end(form) }}


                {% if false %}

                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNewTra" aria-expanded="false" aria-controls="collapseExample">
                    {# Button with data-target #}
                    <i class="fas fa-edit" aria-hidden="true"></i> {{ button_label_new }}
                </button>

                {% endif %}

            </div>   
            
        </div>

        
        <div class="row">            

            {% for opera in operas %}
            {{ opera.createdAt|date('d/m/y') }} | {{ opera.treatment.name }}<br>
            {% endfor %}

        </div>

    </div>

</div>
