{% extends 'base_ad.html.twig' %}

{% block main %}

<div class="form-row">
    <div class="form-group col-md-10">
        <h4>
            <a href="{{ path('center_cpanel', {slug:app.user.center.slug}) }}">
                <i class="fas fa-arrow-left" aria-hidden="true"></i> {{ app.user.center.name }}
            </a>     
            | {{'label.type'|trans}} <i class="fas fa-procedures"></i> {{ type.name }}
        </h4>
    </div>
    <div class="form-group col-md-2">
            
    </div>
</div>


{{ form_start(form) }}

<div class="form-row">

    <div class="form-group col-md-8">
        {{ form_row(form.name) }}
    </div>
    <div class="form-group col-md-4">
    </div>

</div>

<div class="form-row">

    <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
        </button>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="form-group col-md-4 text-right">
        
        <a href="{{ path('types_index', {slug:app.user.center.slug}) }}" class="btn btn btn-success">
            <i class="fas fa-arrow-left" aria-hidden="true"></i> {{'label.types'|trans}}
        </a>                
    </div>
    {% endif %}
        
</div>        

{{ form_end(form) }}


{% endblock %}