{% extends 'base93.html.twig' %}

{% block title %}Panel{% endblock %}

{% block header %}
    {{ include('default/_header.html.twig') }}
{% endblock %}

{% block body %}
            
    <div class="section">

        <div class="row">

            <div class="col-sm-3">

                <div class="card">
                    <div class="card-header"> 
                        <h5><i class="fas fa-users"></i> {{ 'title.patients'|trans|upper }}</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fas fa-notes-medical"></i> <a href="{{ path('patient_new',{slug:app.user.center.slug} ) }}">{{ 'action.new'|trans }} {{ 'label.patient'|trans }}</a></li>
                            <li class="list-group-item"><i class="fas fa-list-ol"></i> <a href="{{ path('patient_index', {slug:center.slug}) }}">{{ 'label.last.records'|trans }}</a></li>
                            <li class="list-group-item"><i class="fas fa-search"></i> <a href="{{ path('patient_search', {slug:center.slug} ) }}">{{ 'search_for'|trans }}</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            
            <div class="col-sm-3">

                <div class="card">
                    <div class="card-header"> 
                        <h5><i class="far fa-calendar-alt"></i> <a href="">Agendas</a></h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for agenda in agendas %}
                                <li class="list-group-item">

                                    {% if false %}

                                    <i class="far fa-calendar-minus"></i> 
                                    <a target="_blank" href="{{ client.host }}/schedule/{{ app.user.center.ssaasAccountName }}/{{ agenda.name }}?lang={{ app.request.locale }}">{{ agenda.name }}</a> 

                                    {% else %}

                                    <form method="post" action="https://www.supersaas.com/api/users" target="_blank">
                                        <input type="hidden" name="account" value="{{ app.user.center.ssaasAccountName }}"/>
                                        <input type="hidden" name="id" value="{{ app.user.id }}fk"/> <!-- A unique key to identify the user. See below -->
                                        <input type="hidden" name="user[name]" value="{{ app.user.email }}"/> <!-- Any string. Needs to be unique -->
                                        <input type="hidden" name="user[phone]" value="{{ app.user.tel }}"/>
                                          <!-- values for other fields, see the bottom of the page for a list -->
                                          <input type="hidden" name="user[role]" value="4"/>  <!-- Supeuser 4, User 3 -->
                                          <!-- you can add and remove fields in the "Access Control" screen -->
                                        
                                        <input type="hidden" name="checksum" value="{{ checksum }}"/> <!-- 32 digit MD5 Hash, see below -->
                                        <input type="hidden" name="after" value="{{ client.host }}/schedule/{{ app.user.center.ssaasAccountName }}/{{ agenda.name }}?lang={{ app.request.locale }}"/> <!-- where you send your user after sign on -->
                                        <button class="btn btn-block btn-primary" type="submit">
                                                <i class="far fa-calendar-minus"></i> {{ agenda.name }}
                                        </button> 
                                    </form>


                                    {% endif %}





                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">

                    <div class="card">
                        <div class="card-header"> 
                            <h5><i class="far fa-folder-open"></i> {{'label.docs'|trans}}</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% for group in groups %}
                                <li class="list-group-item"><i class="far fa-file-alt"></i><a href="{{ path('docs_index', {slug:center.slug, id:group.id} ) }}">{{ group.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
    
            </div>
                
        </div>  
        
    </div>


{% endblock %} 
