{% extends 'base93.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}

    {% if app.user.id != user.id and is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %} 

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                {% if is_granted('ROLE_SUPER_ADMIN') %} 
                    <li class="breadcrumb-item"><a href="{{ path('super_cpanel') }}">{{ 'title.super_cpanel'|trans }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('centers_index') }}">{{ 'title.centers_list'|trans }}</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %} 
                        <li class="breadcrumb-item"><a href="{{ path('center_cpanel', {slug:app.user.center.slug}) }}">{{ 'title.center_cpanel'|trans }}</a></li>
                {% endif %}

                <li class="breadcrumb-item aria-current=page"><a href="{{ path('users_index', {slug:app.user.center.slug}) }}">{{ user.center.name }}</a></li>
                
            </ol>
        </nav>

    {% endif %}

    <div class="row justify-content-between">

        <div class="col">
            <h4>{{ 'title.edit_user'|trans }} <i class="far fa-user"></i> <span class="text-success">{{ user.email }}</span></h4>
        </div>        
        <div class="col text-right">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
            <h5>{{ 'label.recorded'|trans }}: {{user.createdAt|date("d/m/Y") }} </h5>
                {% if 'ROLE_ADMIN' in user.roles %}
                    {{ 'title.center_cpanel'|trans }} <i class="fas fa-key text-info"></i> 
                {% endif %}        
                {% if user.centerUser == user.id %}
                    {{ 'title.center_owner'|trans }} <i class="fas fa-key text-warning"></i> 
                {% endif %}        
            {% endif %}        
        </div>     
        
    </div>    

    {{ form_start(form) }}

        <div class="form-row">

            {% if app.user.id != user.id %} 

                <div class="form-group col-auto">
                    {{ form_row(form.enabled) }}
                </div> 
                {% if app.user.centerUser == app.user.center.id or is_granted('ROLE_SUPER_ADMIN') %}        
                <div class="form-group col-auto">
                    {{ form_row(form.admin) }}
                </div>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}        
                <div class="form-group col-auto">
                    {{ form_row(form.center_user) }}
                </div>
                {% endif %}

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}        

                <div class="form-group col-auto text-right"> <i class="fas fa-user-md"></i></div>
                <div class="form-group col-auto">
                    {{ form_row(form.medic) }}
                </div>
            {% endif %}

        </div> 

        <div class="form-row">
            <div class="form-group col-md-8">
                {{ form_row(form.email) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_row(form.tel) }}
            </div> 
        </div>
    
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_row(form.firstname) }}
            </div>        
            <div class="form-group col-md-4">
                {{ form_row(form.lastname) }}
            </div>
        </div>

        <div class="form-row justify-content-between">  

            <div class="form-group col-sm-3">
                {% if app.user != user or is_granted('ROLE_SUPER_ADMIN') %}
                <div class="form-group text-right">
                    <a href="{{ path('users_index', {slug:app.user.center.slug}) }}" class="btn btn-block btn-success">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i> {{ 'title.users_list'|trans }}
                    </a>
                </div>
                {% else %} 
                    <a href="{{ path('user_cpanel', {slug:app.user.center.slug} ) }}" class="btn btn-block btn-success">
                        <i class="fas fa-arrow-left" aria-hidden="true"></i> {{ 'label.cancel'|trans }}
                    </a>                
                {% endif %} 
            </div>            

            <div class="form-group col-sm-3">
                <button type="submit" class="btn btn-block btn-primary">
                    <i class="fa fa-save" aria-hidden="true"></i> {{ 'action.save'|trans }}
                </button>
            </div>

        </div>

    {{ form_end(form) }}

{% endblock %}


{% block sidebar %}

    {% if app.user.id == user.id %}
    {# Cambiamos SOLO la contraseña propia #} 

        <div class="row">

            <div class="col-sm">

                <a href="{{ path('user_change_password') }}" class="btn btn-lg btn-block btn-danger">
                    <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.change_password'|trans }}
                </a>

            </div>

        </div>

        <br>

    {% endif %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
    
    <div class="row">

        <div class="col-sm">
                
            <div class="card">

                <div class="card-header">
                    <h5>{{ 'security.title'|trans }}</h5>
                </div>

                <div class="card-body">
            
                    <h6 class="card-text text-primary">
                        <i class="fas fa-key text-warning"></i> {{ 'title.center_owner'|trans }}<br>{{ 'security.owner_1'|trans }}
                    </h6>

                    <br>

                    <h6 class="card-text text-primary">
                        <i class="fas fa-key text-info"></i> {{ 'title.center_cpanel'|trans }}<br>{{ 'security.admin_1'|trans }}
                    </h6>
                    <br>

                </div>

            </div>

        </div>

    </div>
                
    {% endif %}
    
{% endblock %}