{% extends 'base.html.twig' %}

{% block navbar %}
{% endblock %} 


{% block body %}

    <div class="container">

        <br><br><br><br>

        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                {{ include('default/_flash_messages.html.twig') }}

                <br>

                <h5>{{ 'resetting.check_email'|trans}} {{ tokenLifetime }} {{ 'resetting.check_email2'|trans}}</h5>
                <br><br>
                <div class="text-right">
                    <h5><a href="{{ path('app_login') }}"><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</a></h5>
                </div>

            </div>

            <div class="col-sm-2"></div>

        </div>
    
    </div>

{% endblock %}